.aside .logo a::before{
    border-top: 4px solid #72b626;
    border-left: 4px solid #72b626;
 }
 .aside .logo a::after{
     border-bottom: 4px solid #72b626;
     border-right: 4px solid #72b626;
  }
  .blog .blog-item-inner .blog-info .blog-tags a,
  .contact .contact-info-item .icon .fa,
  .portfolio .portfolio-item .portfolio-info .icon .fa,
  .lightbox .lightbox-controls .prev .fa,
 .lightbox .lightbox-controls .next .fa,
  .portfolio .portfolio-filter button.active,
  body.dark .portfolio .portfolio-filter button.active,

  .service .service-item .service-item-inner .icon .fa,
  .about .about-content .about-text h3 span ,
  .home .intro .social-links a i,
  .aside .nav li a:hover,
  .aside .nav li a.active,
  body.dark .aside .nav li a:hover, 
 body.dark .aside .nav li a.active{
     color:#72b626 ;
 }
 .btn,
 .blog .blog-item-inner .blog-img .blog-date,
 .about .skills .skill-item .progress .progress-in,
 .about .about-content .timeline .circule-dot,
 .about .about-content .timeline .timeline-item::before,
 .section-title h2::before,
 .section-title h2::after,
 .aside .nav-toggler span,
 .aside .nav-toggler span::before,
 .aside .nav-toggler span::after,
 .service .service-item .service-item-inner:hover .icon{
     background-color: #72b626;
 }
 .portfolio .portfolio-filter button.active
 {
     border-color: #72b626;
 }